<h2>Profile - Resca</h2>

<div class="container">
    <img src="/assets/restroimage.svg">
    <form class="restrodetail">
        <label>Full Name</label>
        <input type="text" placeholder="name" class="form-control" />
        <label>Email</label>
        <input type="text" placeholder="email" class="form-control" />
        <label>Restaurant Name</label>
        <input type="text" placeholder="restroname" class="form-control" />
        <label>Restaurant Address</label>
        <input type="text" placeholder="address" class="form-control" />
        <label>QR Code</label>
        <button class="btn">Saved</button>
    </form>
</div>